body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/back.jpg'); /* Substitua com o caminho para a imagem de fundo */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
  
  .container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-left: center;
  }

  .logo {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
    opacity: 0.8; /* Pode ajustar a opacidade da logo */
    }
  
  .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  label {
    flex: 1;
    margin-right: 10px;
  }
  
  input {
    flex: 1;
    max-width: 60px; /* Definir a largura máxima desejada */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p#result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }
  
 
  